<div class="loginForm">
    <form action="/job/<%= job.id %>/update" method="POST">
        <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Company Name</span>
              <input
                required=""
                value="<%= job.company %>"
                name="company"
                type="text"
                aria-label="company name"
                class="form-control"
                placeholder="enter your company name"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Role</span>
              <input
                required=""
                name="role"
                value="<%= job.role %>"
                type="text"
                aria-label="name"
                class="form-control"
                placeholder="enter role"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Location</span>
              <input
                required=""
                name="location"
                value="<%= job.location %>"
                type="text"
                aria-label="location"
                class="form-control"
                placeholder="enter location"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">salary</span>
              <input
                required=""
                name="salary"
                value="<%= job.salary %>"
                type="text"
                aria-label="salary"
                class="form-control"
                placeholder="enter package"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Deadline</span>
              <input
                required=""
                name="deadline"
                value="<%= new Date(job.deadline).toISOString().split('T')[0] %>"
                type="date"
                aria-label="deadline"
                class="form-control"
                placeholder="dd/mm/yyyy"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Number of Openings</span>
              <input
                required=""
                name="openings"
                type="number"
                value="<%= job.openings %>"
                aria-label="openings"
                class="form-control"
                placeholder="enter number of openings"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Skills</span>
              <input
                required=""
                name="skills"
                type="text"
                value="<%= job.skills.join(',') %>"
                aria-label="skills"
                class="form-control"
                placeholder="enter skills seperate by , "
              />
            </div>
          </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  