<div id="jobContiner">
  <% jobs.forEach(job => { %>
  <div class="card customeCard" style="width: 18rem" id= <%= job.id %>>
    <div class="card-body">
      <h5 class="card-title customeCardTitle"><%= job.companey %></h5>
      <p class="card-text">Tech: <%= job.role %></p>
      <p class="card-text"><i class="fa-solid fa-location-dot fa-lg" style="color: #FFD43B;"></i> <%= job.location %></p>
      <p class="card-text"><i class="fa-solid fa-indian-rupee-sign fa-lg" style="color: #ffffff;"></i> <%= job.package %></p>
      <p class="card-text">Skills:</p>
      <div>
        <% job.skills.forEach(skill=>{ %>
            <div class="btn btn-outline-primary" style="cursor: default;"><%= skill %></div>
        <% }) %>
      </div>
      <br>
      <div><a href="/job/<%= job.id %>" class="btn btn-outline-success customeButton">View Details</a></div>
      
    </div>
  </div>
  <% }) %>
</div>
